.swfcontent_container {
  width: 90%!important;
  height: 90%!important;
  margin-left: auto;
  margin-right: auto;
}
.swfcontent_hover {
  background-size: 90% 90%!important;
  background-position: center!important;;
}

.swfcontent_start {
  margin-right: auto;
  margin-left: auto;
}