.loading-pic {
  height: 100vh;
  width: 100vw;
}
.video-react-control-bar {
  display: none!important;
}

.video-react-poster {
  height: 100vh;
  width: 100vw;
  background-size: cover!important;
}
.video-react-big-play-button {
  transform: translateY(-70px);
}
.to-answer {
  position: absolute;
  top: 50%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  z-index: 1;
}
.to-answer > span {
  border-bottom: 1px solid black;
}